html, body {
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  margin: 0;
}

/* Wrapper */

.wrapper {
  width: 100%;
  height: 100%;
}

/* First-section */

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 29px 0 29px 0;
  background-size: cover;
  background-position: center;
  background-image: url(img/photo-background-1.png);
}

.logo, .logo-footer {
  cursor: pointer;
  width: 139px;
  height: 37px;
}

.logo {
  margin-bottom: 105px;
}

.green-tariff {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.solar-power-plant {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #ffffff;
}

.profit-per-month {
  font-size: 31px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 75px;
  color: #ffffff;
}

.first-consultation {
  cursor: pointer;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 221px;
  height: 34px;
  transition: 0.6s;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.first-consultation:hover {
  border: 1.5px solid #c4c4c4;
  color: #c4c4c4;
}

.messengers, .messengers-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 126px;
  height: 24px;
}

.messengers {
  margin-top: 250px;
}

.messengers-footer {
  margin-top: 4px;
}

.instagram, .telegram, .viber, .facebook, 
.instagram-footer, .telegram-footer, .viber-footer, .facebook-footer {
  cursor: pointer;
}

.instagram, .telegram, .viber,
.instagram-footer, .telegram-footer, .viber-footer {
  margin-right: 10px;
}

/* Second-section */

.second-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 798px;
  box-sizing: border-box;
  padding: 112px 270px;
  background-color: #ffffff;
}

/* Left-part-second-section */

.left-part-second-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.services {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 45px;
  color: #868585;
}

.title-second-section-one {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
  color: #303030;
}

.descr-second-section-one {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
  color: #303030;
}

.title-second-section-two, .title-second-section-three, .title-second-section-four {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
  color: #303030;
}

.descr-second-section-two, .descr-second-section-three, .descr-second-section-four {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
  color: #303030;
}

/* Right-part-second-section */

.right-part-second-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 50%;
  height: 100%;
}

.solar-plants {
  width: 100%;
  max-width: 450px;
}

/* Third-section */

.third-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 375px;
  background-size: cover;
  background-position: center;
  background-image: url(img/photo-background-2.png);
}

.station {
  font-size: 31px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

/* Forth-section */

.forth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1257px;
  box-sizing: border-box;
  padding: 112px 270px;
  background-color: #ffffff;
}

/* Top-part-forth-section */

.top-part-forth-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
  margin-bottom: 136px;
}

/* Left-part-top - Right-part-top */

.left-part-top, .right-part-top {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.our-clients {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 45px;
  color: #868585;
}

.left-house {
  width: 100%;
  max-width: 382px;
}

.title-forth-section-one {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-top: 62px;
  margin-bottom: 24px;
  color: #303030;
}

.descr-forth-section-one {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  color: #303030;
}

.descr-forth-section-two, .descr-forth-section-three, .descr-forth-section-four {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  color: #303030;
  margin-top: 12px;
}

.descr-forth-section-four {
  margin-bottom: 106px;
}

.forth-consultation {
  cursor: pointer;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 221px;
  height: 34px;
  transition: 0.6s;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  border: 1.5px solid #303030;
  color: #303030;
}

.forth-consultation:hover {
  border: 1.5px solid #c4c4c4;
  color: #c4c4c4;
}

/* Bottom-part-forth-section */

.bottom-part-forth-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
}

/* Left-part-bottom */

.left-part-bottom {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.five-steps {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 45px;
  color: #868585;
}

.first-step {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
  color: #868585;
}

.title-forth-section-two {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  color: #303030;
}

.descr-forth-section-five {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 23px;
  color: #303030;
}

.second-step, .third-step, .forth-step, .fifth-step {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
  color: #868585;
}

.title-forth-section-three, .title-forth-section-four, 
.title-forth-section-five, .title-forth-section-six {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  color: #303030;
}

.descr-forth-section-six, .descr-forth-section-seven,
.descr-forth-section-eight, .descr-forth-section-nine {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 23px;
  color: #303030;
}

/* Right-part-bottom */

.right-part-bottom {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.right-house {
  width: 100%;
  height: 100%;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 547px;
  background-size: cover;
  background-position: center;
  background-image: url(img/photo-background-3.png);
}

/* Top-part-footer */

.top-part-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  padding: 52px 270px;
  box-sizing: border-box;
}

.contacts {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 44px;
  color: #ffffff;
}

.descr-footer-one {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.descr-footer-two, .descr-footer-three, .descr-footer-four, .descr-footer-five {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  margin-top: 24px;
}

/* Bottom-part-footer */

.bottom-part-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 20%;
  padding: 0 270px;
  box-sizing: border-box;
}

.container-for-descr, .container-for-messengers {
  width: 33.3%;
  height: 100%;
}

.container-for-descr, .container-for-logo, .container-for-messengers {
  display: flex;
  flex-direction: row;
}

.container-for-descr {
  justify-content: start;
}

.container-for-logo {
  justify-content: center;
}

.container-for-messengers {
  justify-content: end;
}

.container-for-logo {
  width: 33.4%;
  height: 100%;
}

.descr-footer-six {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  margin-top: 4px;
}

@media screen and (max-width: 1280px) {

  .second-section, .forth-section {
    padding: 112px 216px;
  }

  .descr-forth-section-four {
    margin-bottom: 96px;
  }

  .top-part-footer {
    padding: 52px 216px;
  }

  .bottom-part-footer {
    padding: 0 200px;
  }

}
@media screen and (max-width: 1220px) {

  .second-section, .forth-section {
    padding: 112px 196px;
  }
  
  .top-part-footer {
    padding: 52px 196px;
  }

  .bottom-part-footer {
    padding: 0 196px;
  }

}
@media screen and (max-width: 1180px) {

  .second-section, .forth-section {
    padding: 112px 176px;
  }

  .top-part-footer {
    padding: 52px 176px;
  }

  .bottom-part-footer {
    padding: 0 176px;
  }

}
@media screen and (max-width: 1140px) {

  .second-section, .forth-section {
    padding: 112px 146px;
  }

  .descr-forth-section-four {
    margin-bottom: 109px;
  }

  .top-part-footer {
    padding: 52px 146px;
  }

  .bottom-part-footer {
    padding: 0 146px;
  }
  
}
@media screen and (max-width: 1120px) {

  .descr-forth-section-four {
    margin-bottom: 96px;
  }

}
@media screen and (max-width: 1080px) {

  .second-section, .forth-section {
    padding: 112px 116px;
  }

  .descr-forth-section-four {
    margin-bottom: 109px;
  }

  .top-part-footer {
    padding: 52px 116px;
  }

  .bottom-part-footer {
    padding: 0 116px;
  }

}
@media screen and (max-width: 1060px) {

  .descr-forth-section-four {
    margin-bottom: 96px;
  }

}
@media screen and (max-width: 1024px) {

  .logo, .profit-per-month {
    margin-bottom: 55px;
  }

  .messengers {
    margin-top: 55px;
  }

  .second-section, .forth-section {
    padding: 112px 96px;
  }

  .descr-forth-section-four {
    margin-bottom: 109px;
  }

  .top-part-footer {
    padding: 52px 96px;
  }

  .bottom-part-footer {
    padding: 0 96px;
  }

}
@media screen and (max-width: 1020px) {

  .descr-forth-section-four {
    margin-bottom: 96px;
  }

}
@media screen and (max-width: 980px) {

  .second-section, .forth-section {
    padding: 112px 66px;
  }

  .descr-forth-section-four {
    margin-bottom: 109px;
  }

  .top-part-footer {
    padding: 52px 66px;
  }

  .bottom-part-footer {
    padding: 0 66px;
  }

}
@media screen and (max-width: 960px) {

  .descr-forth-section-four {
    margin-bottom: 96px;
  }

}
@media screen and (max-width: 920px) {

  .second-section, .forth-section {
    padding: 112px 46px;
  }

  .top-part-footer {
    padding: 52px 46px;
  }

  .bottom-part-footer {
    padding: 0 46px;
  }

}
@media screen and (max-width: 880px) {

  .second-section {
    flex-direction: column;
    height: 1196px;
    padding: 46px 160px;
  }

  .left-part-second-section, .right-part-second-section {
    width: 100%;
    height: 50%;
  }

  .left-part-second-section {
    justify-content: center;
  }

  .solar-plants {
    max-width: 100%;
    height: 100%;
  }

  .forth-section {
    height: 2114px;
    padding: 46px 160px;
  }

  .top-part-forth-section {
    flex-direction: column;
  }

  .left-part-top, .right-part-top {
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .title-forth-section-one {
    margin: 0;
    margin-bottom: 24px;
  }

  .top-part-forth-section {
    margin-bottom: 46px;
  }

  .bottom-part-forth-section {
    flex-direction: column;
  }

  .left-part-bottom {
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .right-part-bottom {
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .top-part-footer {
    padding: 52px 160px;
  }

  .bottom-part-footer {
    flex-direction: column;
    padding: 0 160px;
  }

  .container-for-descr, .container-for-logo, .container-for-messengers {
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .container-for-descr, .container-for-messengers {
    height: 33.3%;
  }

  .container-for-logo {
    height: 33.4%;
  }

}
@media screen and (max-width: 710px) {

  .second-section, .forth-section {
    padding: 46px 100px;
  }

  .top-part-footer {
    padding: 52px 100px;
  }

  .bottom-part-footer {
    padding: 0 100px;
  }

}
@media screen and (max-width: 660px) {

  .solar-power-plant {
    font-size: 40px;
  }

  .profit-per-month {
    font-size: 22px;
  }

  .station {
    font-size: 22px;
  }

}
@media screen and (max-width: 580px) {

  .second-section, .forth-section {
    padding: 46px 50px;
  }

  .top-part-footer {
    padding: 52px 50px;
  }

  .bottom-part-footer {
    padding: 0 50px;
  }

}
@media screen and (max-width: 480px) {

  .second-section, .forth-section {
    padding: 10px;
  }

  .top-part-forth-section {
    margin-bottom: 10px;
  }

  .top-part-footer {
    padding: 52px 10px;
  }

  .bottom-part-footer {
    padding: 0 10px;
  }

}
@media screen and (max-width: 400px) {

  .solar-power-plant {
    font-size: 35px;
  }

}
@media screen and (max-width: 374px) {

  .second-section {
    height: 1096px;
  }

  .left-part-second-section, .left-part-bottom {
    height: 65%;
  }

  .left-part-bottom {
    justify-content: center;
  }

  .right-part-second-section, .right-part-bottom {
    height: 35%;
  }

  .forth-section {
    height: 1714px;
  }

}
@media screen and (max-width: 310px) {

  .solar-power-plant {
    font-size: 30px;
  }

  .profit-per-month {
    font-size: 20px;
  }

  .left-part-second-section, .left-part-bottom {
    height: 70%;
  }

  .right-part-second-section, .right-part-bottom {
    height: 30%;
  }

  .station {
    font-size: 20px;
  }

}
@media screen and (max-width: 265px) {

  .solar-power-plant {
    font-size: 25px;
  }

  .profit-per-month {
    font-size: 17px;
  }
  
  .station {
    font-size: 17px;
  }

  .left-part-second-section, .left-part-second-section, .left-part-bottom {
    height: 75%;
  }

  .right-part-second-section, .right-part-second-section, .right-part-bottom {
    height: 25%;
  }

}